@charset "utf-8";

h4.tit{margin:45px 0 10px;color:#004d85;font-size:18px;}
h4.tit span{color:#888;font-size:13px;font-weight:400}

/** 파일필드 버튼형 디자인 **/
.area_filebox{position:relative}
.area_filebox label,.area_filebox .upload_name{display:inline-block;padding:5px;vertical-align:middle;}
.area_filebox label{position:absolute;right:0;width:100px;color:#999;font-size:inherit;text-align:center;border:1px solid #ebebeb;border-bottom-color:#e2e2e2;background:#fff}
.area_filebox input[type="file"]{overflow:hidden;position:absolute;width:1px;height:1px;padding:0;margin:-1px;border:0;clip:rect(0,0,0,0)}
.area_filebox .upload_name{padding-right:115px;border:1px solid #ebebeb;border-bottom-color:#e2e2e2;-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:#f5f5f5}

.area_filebox.upload .upload_btn{display:inline-block;padding:3px 5px;vertical-align:middle;}	
.area_filebox.upload label{right:100px}	
.area_filebox.upload .upload_btn{position:absolute;right:0;width:100px;color:#999;font-size:inherit;text-align:center;border:1px solid #ccc;border-bottom-color:#bfbfbf;border-left:0;background:#fff}	
.area_filebox.upload .upload_name{padding-right:205px;}	
.multi_file_attch li:first-child{margin-top: 10px !important;}	
.multi_file_attch li{position:relative;width:100%;margin-top:2px;margin-bottom:7px;padding-right:105px;margin-left:10px;}	
.multi_file_attch li:before {content:''; display:block; position:absolute; left:-6px; top:50%; width:2px; height:2px; margin-top:-1px; background:#555;}	
.multi_file_attch li em{display:inline-block;width:100px;}	
.multi_file_attch li .btn_del{position:absolute;right:10px;width:100px;}	
.file_attch li:first-child{margin-top: 10px !important;}	
.file_attch li{position:relative;width:100%;margin-top:2px;margin-bottom:7px;padding-right:105px;margin-left:10px;}	
.file_attch li:before {content:''; display:block; position:absolute; left:-6px; top:50%; width:2px; height:2px; margin-top:-1px; background:#555;}	
.file_attch li em{display:inline-block;width:100px;}	
.btn_del{min-width: 80px; padding: 1px 8px; line-height: 23px; font-size: 14px; font-weight: 400; border-radius: 15px; background-color: #dedede; text-align: center; display: inline-block;}	
.file_attch li .btn_del{position:absolute;right:10px;width:100px;}	

/** 게시판-기본목록 **/
.bd_tbl{display:table;table-layout:fixed;min-width:100%;width:100%;margin:5px 0;border-top:2px solid #3b414d;border-bottom:1px solid #b8b8b8;border-collapse:collapse;border-spacing:0;word-break:break-all}
.bd_tbl > * > tr > *{padding:10px 8px;color:#5d5d5d;font-size:14px;border:1px solid #b8b8b8;border-bottom-width:0}
.bd_tbl > * > tr > *[scope]{color:#313131;font-weight:bold;text-align:center;background:#fcfcfc}
.bd_tbl > * > tr > *[scope] .tbl_star{display:inline-block;margin:0 0 0 4px;line-height:20px;color:#f00;vertical-align:middle}
.bd_tbl > * > tr > *[colspan]{border-right:1px}
.bd_tbl thead{color:#413d39;border-bottom:1px solid #b8b8b8}
.bd_tbl > * > tr:first-child > *{border-top:none}
.bd_tbl > * > tr > *:first-child{border-left:none}
.bd_tbl > * > tr > *:last-child{border-right:none}
.bd_tbl > * > tr > td ul{margin:0 !important}
.bd_tbl > * > tr > td a:hover,.bd_tbl > * > tr > td a:active,.bd_tbl > * > tr > td a:focus{font-weight:500;text-decoration:underline}
.bd_tbl td > select {height:34px;line-height:24px;border: 1px solid #ccc;}
.load_tr{cursor:pointer;}
.load_tr:hover {background-color:#fffdee;}

/** 게시판-기본상세 **/
.bd_tbl_view th,.bd_tbl_view td{padding:10px 15px !important;font-size:15px;text-align:left !important}
.bd_tbl_view th{font-weight:500 !important}
.bd_tbl_view .bd_view_tit{width:20%}
.bd_tbl_view .bd_view_cont{width:30%}


/** 게시판사용 icon **/
.icon_file{position:relative;margin:0 auto;text-indent:-9999px}
.icon_file,.icon_file:after{display:block;width:22px;height:22px;}
.icon_file:after{content:'';position:absolute;background-position:-195px -98px}

/** 게시판정보 + 검색 style **/
.bd_top_type01{margin-bottom:15px}
.bd_top_type01:after,.bd_top_type01 .area_left:after{content:'';display:block;clear:both}
.bd_top_type01 .area_left,.bd_top_type01 .area_select,.bd_top_type01 .bd_info_page{float:left}
.bd_top_type01 .bd_sel_search, .bd_top_type01 .bd_btn_area{float:right}
.contents .bd_top_type02:first-child{margin-top:0}
.bd_top_type02{margin:15px 0;}
.bd_top_type02:after,.bd_top_type02 .area_left:after{content:'';display:block;clear:both}
.bd_top_type02 .area_left{float:left;margin:0;}
.bd_top_type02 .bd_btn_area{float:right;margin:0;}
.area_select input{min-width:42px;line-height:32px;color:#fff;text-align:center;border:0;border-radius:5px;cursor:pointer;background:#828282}
.area_select .selectbox{display:inline-block;position:relative;left:0;width:163px;height:32px;color:#333;border:1px solid #828282;border-radius:5px;box-sizing:border-box;z-index:1}
.area_select .selectbox:before{content:'';position:absolute;top:46%;right:10px;width:7px;height:4px;margin-top:-1px;background-position-y:-91px}
.area_select .selectbox label,.area_select .selectbox span{position:absolute;top:4px;left:8px;padding:2px;color:#555;font-size:14px;font-weight:normal;letter-spacing:-1px;z-index:-1}
.area_select .selectbox select{width:100%;height:100%;padding:2px;line-height:normal;border:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;opacity:0;filter:alpha(opacity=0);}
.bd_sel_search{position:relative;min-width:250px;width:353px;padding:1px 40px 1px 5px;border:1px solid #b8b8b8;border-radius:5px;;box-sizing:border-box}
.bd_sel_search label{left:10px;line-height:32px}
.bd_sel_search input{border:0;box-sizing:border-box;background-color:transparent}
.bd_sel_search input[type="text"]{width:100%}
.bd_sel_search input[type="button"]{position:absolute;top:7px;right:13px;width:21px;height:21px;text-indent:-9999px;cursor:pointer}
.bd_info_page{display:inherit;margin-top:14px;color:#333;font-size:14px}
.bd_info_page span,.bd_info_page em{color:#0986c8}
.bd_info_page strong{display:inline-block;position:relative;font-weight:normal}
.bd_info_page strong:before{content:'';display:inline-block;width:1px;height:13px;margin:-2px 10px 0;vertical-align:middle;background:#333}
.area_calendar{width:100%}
.area_calendar input{width:105px !important;line-height:28px;padding:3px 10px;border:1px solid #b8b8b8;box-sizing:border-box}
.area_calendar a{display:inline-block;margin:0 10px;line-height:0;font-size:0;vertical-align:text-top}
.area_calendar a:before{content:'';display:block;width:30px;height:25px;background:url(../images/contents/btn_calendar.gif) no-repeat 0 0;}
.area_calendar span{margin-right:10px}
.search_form_area{margin-bottom: 15px;border:2px solid #dcdcdc; border-radius:15px}
.search_form_area .bd_tbl{border:none;margin:0}
.search_form_area .bd_tbl th{ border-radius:15px 0 0 15px}
.search_form_area .bd_tbl > * > tr > *{padding:5px 8px;border-color:#dcdcdc;}

/** 게시판-검색 **/
.search_form{overflow:hidden;padding:0}
.search_form legend+div.sel_box{margin-right:15px}
.sel_box{float:left;position:relative;width:200px;padding-left:65px;box-sizing:border-box}
.sel_box label{position:absolute;left:0;line-height:34px;}
.sel_box div{position:relative;}
.sel_box div:before{content:'';position:absolute;top:46%;right:10px;width:7px;height:4px;margin-top:-1px;background-position:0 -91px}
.sel_box select{width:100%;height:100%;line-height:20px !important;padding:7px;line-height:normal;border:1px solid #828282;border-radius:3px;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;appearance:none;}
.sel_box select::-ms-expand{display:none;}	
.search_form .bd_sel_search{float:right;width:310px;padding-right:5px;margin-right:42px}
.search_form .bd_sel_search input[type="button"]{top:0;right:-42px;width:36px;height:34px;border-radius:5px;background-color:#828282;background-position:-21px 6px}
.search_form .bd_sel_search .focus_tit{position:absolute;z-index:1;display:block;visibility:visible;}
.search_form .area_select{display:inline-block}
.search_form .area_select .selectbox{height:37px}

/** 게시판- 상세 & 신청 common **/
.bd_view th,.bd_view td,
.bd_tbl_view th,.bd_tbl_view td{padding:10px 15px !important;line-height:22px;font-size:15px;text-align:left !important}
.bd_tbl_view td > table td, .bd_tbl_view td > table th{padding:5px 10px !important;line-height:22px;font-size:13px;text-align:center !important}
.bd_view th,.bd_tbl_view th{font-weight:500 !important}
.bd_view .bd_view_tit,.bd_tbl_view .bd_view_tit{width:20%}
.bd_view .bd_view_cont,.bd_tbl_view .bd_view_cont{width:30%}

/** 게시판 td width **/
table input.txt{width:100%;}
table input.txt.fxw{width:40% !important;}
table input.txt.w40{width:40% !important;}
table .group_email .selec_area { display:inline-block; width:120px; margin-left:5px; letter-spacing:normal; vertical-align:middle;}
table .group_email input.txt {width:145px !important;}
table .group_addr input:first-child{margin-bottom:5px;}
table .group_addr .zipcode_txt .txt{ width:70%;}
table .group_addr .addr_txt .txt{ width:100%;}
table .group_tel { font-size:0; letter-spacing:-4px; }
table .group_tel .selec_area { display:inline-block; width:100px !important; letter-spacing:normal; vertical-align:middle; }
table .group_tel select { font-size:14px; }
table .group_tel .txt { width:100px !important; }
table .group_tel>span { display:inline-block; padding:0 5px; font-size:14px; letter-spacing:normal; text-align:center; vertical-align:middle; }
table .infotext {display:block; }
table input[type="text"].bd_title{width:100%;}

/** 게시판- 신청 **/
.bd_tbl_view td input,.bd_tbl_view td select{box-sizing:border-box}
.bd_tbl_view td input[type="text"],.bd_tbl_view td select{width:100%;}
.bd_tbl_view td input[type="text"].size_phone{width:60px;text-align:center}
.bd_tbl_view td input[type="text"].size_date{width:100px;text-align:center}
.bd_tbl_view td input[type="checkbox"]{margin-right:5px;vertical-align:baseline}
.bd_tbl_view td input[type="radio"]{margin-right:5px;vertical-align:baseline}
.bd_tbl_view td select{height:30px;line-height:24px;border:1px solid #ccc}
.bd_tbl_view td .desc_cell{display:block;margin-top:5px;font-size:13px}
.biz_app_tip{display:inline;margin:7px 0 0 15px;font-size:13px;}

.chk_area{overflow:hidden}
.chk_area li{float:left;margin-left:20px;}
.chk_area li:first-child{margin-left:0;}
.chk_area li label{vertical-align:text-bottom}    
.chk_area li input[type="radio"] {margin-right:5px;vertical-align: baseline;}

/** board pagination **/
.bd_pagination{margin-top:50px;text-align:center}
.bd_pagination strong,.bd_pagination a{display:inline-block;min-width:35px;line-height:35px;text-align:center;}
.bd_pagination strong{display:inline-block;margin:3px 2px;border:1px solid #d0d0d0;background:#2f343e;color:#fff;}
.bd_pagination a{color:#8b8b8b}
.bd_pagination a:hover,.bd_pagination a:active,.bd_pagination a:focus{text-decoration:underline}
.bd_pagination strong a{color:#2f343e;font-weight:500;border-color:#2f343e;background:#fff}
.bd_pagination .direction{position:relative;text-indent:-9999px;background:#f8f8f8}
.bd_pagination .direction:hover,.bd_pagination .direction:active,.bd_pagination .direction:focus{background:#efefef}
.bd_pagination .direction:before{content:'';display:block;position:absolute;top:50%;left:50%;width:7px;height:7px;margin:-3px 0 0 -3px;background-position-y:-71px}
.bd_pagination .direction.prev:before,.bd_pagination .direction.next:before{background-position-y:-82px}
.bd_pagination .direction.next:before,.bd_pagination .direction.last:before{transform:rotate(180deg)}

/** board button **/
/** 기본 버튼 **/
.bd_btn_area{margin:25px 0}
.bd_btn_area a{color:#303030;}
.bd_btn_area a:hover,.bd_btn_area a:active,.bd_btn_area a:focus{text-decoration:underline}

.btn_black,.btn_list,.btn_red,.btn_blue,.btn_blue_green{display:inline-block;position:relative;min-width:156px;margin:1px;padding:0 30px;line-height:51px;font-size:18px;text-align:center;border:1px solid #2d2d2d;box-sizing:border-box}
.btn_black,.btn_list,.btn_red,.btn_blue_green,.btn_blue{color:#fff !important}
.btn_black,.btn_list{background:#2d2d2d}
.btn_red{border-color:#c30000 !important;background:#c30000}
.btn_blue{border-color:#004d85 !important;background:#004d85}
.btn_blue_green{border-color:#0b9991 !important;background:#0b9991}

/** over **/
.btn_black:hover,.btn_black:active,.btn_black:focus{background:#000}
.btn_red:hover,.btn_red:active,.btn_red:focus{background:#d90000}
.btn_blue:hover,.btn_blue:active,.btn_blue:focus{background:#003963}
.btn_blue_green:hover,.btn_blue_green:active,.btn_blue_green:focus{background:#08b8ae}

.bt_icon,.btn_list{text-align:left !important;padding-left:65px !important}
.bt_icon:before,.btn_list:before,.bt_icon.save:before{content:'';display:inline-block;position:absolute;top:50%;left:25px;}
.btn_list:before{width:20px;height:18px;margin-top:-9px;background-position:21px -30px}
.bt_icon.check:before{width:19px;height:18px;margin-top:-9px;background-position:100% -50px}
.bt_icon.save:before{width:20px;height:18px;margin-top:-8px;background-position:-308px -30px}
.bt_icon.pen:before{width:24px;height:22px;margin-top:-11px;background-position:-304px -51px}
.bt_icon.list:before{width:22px;height:23px;margin-top:-12px;background-position:-280px -51px}
.bt_icon.out:before{width:19px;height:18px;margin-top:-9px;background-position:100% -70px}

/** 버튼 **/
.btn_st{display:inline-block;position:relative;margin:0 1px;padding:0 40px;line-height:51px;vertical-align:middle;color:#fff !important;border:1px solid transparent;text-align:center;background:#2d2d2d}
.btn_st.small,.btn_st.mini{border-radius:3px}
.btn_st.small{padding:0 15px;line-height:28px;font-size:14px}
.btn_st.mini{padding:0 8px;line-height:23px}

.bg_blue{background:#0067be}
.bg_orange{background:#dc4d0e}
.bg_gray{background:#515674}
.bg_green{background:#068a00}
.line_blue,.line_orange,.line_gray,.line_green{background:#fff !important}
.line_blue{color:#0067be !important;border-color:#0067be;}
.line_orange{color:#dc4d0e !important;border-color:#dc4d0e}
.line_gray{color:#515674 !important;border-color:#515674}
.line_green{color:#068a00 !important;border-color:#068a00}

/** 파일필드 버튼형 디자인 **/
.area_filebox{position:relative}
.area_filebox label,.area_filebox .upload_name{display:inline-block;padding:3px 5px;vertical-align:middle;}
.area_filebox label{position:absolute;right:0;width:100px;color:#999;font-size:inherit;text-align:center;border:1px solid #ccc;border-bottom-color:#bfbfbf;background:#fff}
.area_filebox input[type="file"]{overflow:hidden;position:absolute;width:1px;height:1px;padding:0;margin:-1px;border:0;clip:rect(0,0,0,0)}
.area_filebox .upload_name{padding-right:115px;border:1px solid #ccc;border-bottom-color:#bfbfbf;-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:#f5f5f5}

/** 기본탭 style **/
.tab_style01{overflow:hidden;position:relative;margin:0 0 20px;border-bottom:1px solid #c7c7c7}
.tab_style01 li{float:left;position:relative;min-width:80px;margin-left:-1px}
.tab_style01 li:first-child{margin-left:0}
.tab_style01 li a{display:block;padding:13px 20px;line-height:15px;color:#333;font-size:16px;font-weight:500;letter-spacing:-1px;text-align:center;/*border:1px solid #c7c7c7;*/border-bottom-width:0}
.tab_style01 li.on a{color:#fff;text-decoration:none !important;border-color:#515674;background:#004d85}
.tab_style01 li a:hover,.tab_style01 li a:active,.tab_style01 li a:focus{text-decoration:underline}

.tab_style02{overflow:hidden;margin:20px 0;border:1px solid #cfcfcf;border-right-width:0;border-bottom-width:0}
.tab_style02 li,.tab_style02 li a{box-sizing:border-box}
.tab_style02 li{float:left;width:16.6666%;margin:-1px 0 0 0;border:1px solid #cfcfcf;border-left-width:0}
.tab_style02 li a{display:block;position:relative;padding:0 15px 0 50px;line-height:56px;color:#333;letter-spacing:-1px;text-align:right;}
.tab_style02 li a:before,.tab_style02 li a:after{content:'';display:block;position:absolute;top:50%;left:17px;width:38px;height:38px;margin-top:-19px}
.tab_style02 li a:before{border-radius:50%;background:#d8eded}
.tab_style02 li.on a{text-decoration:none !important;background:#d8eded}
.tab_style02 li a:hover:before,.tab_style02 li a:active:before,.tab_style02 li a:focus:before,
.tab_style02 li a:hover:after,.tab_style02 li a:active:after,.tab_style02 li a:focus:after{-webkit-animation:vibes2 1.5s;animation:vibes2 1.5s}

.tab_style03{overflow:hidden;position:relative;}
.tab_style03 li{float:left;position:relative;min-width:108px;margin-left:8px}
.tab_style03 li:first-child{margin-left:0}
.tab_style03 li a{display:block;padding:9px 20px;line-height:15px;color:#333;font-size:16px;font-weight:500;letter-spacing:-1px;text-align:center;border:1px solid #2f343e;border-radius:5px}
.tab_style03 li.on a{color:#fff;text-decoration:none !important;background:#2f343e}
.tab_style03 li a:hover,.tab_style01 li a:active,.tab_style01 li a:focus{text-decoration:underline}


/** box-style **/
.box_style01{margin:10px 0 25px;padding:15px;color:#262626;font-size:20px;background:url(../images/common/bg_pattern_box.gif) repeat;}
.box_cont_area{position:relative;padding:15px;background:#fff}
.box_cont_area.icon_type{min-height:55px;padding-left:120px}
.box_cont_area.icon_type:after{content:'';display:inline-block;position:absolute;top:16px;left:26px;width:65px;height:55px;background-position-y:-134px}
.box_cont_area.icon_type>ul:first-child{margin-top:3px}

.box_style02{padding:15px 20px;border:1px solid #d5d5d5;background:#f8f8f8}
.box_style02 p{margin:7px 0}

/** list style **/
.lst_bul01 li,
.lst_bul02 li,
.lst_bul03 li{position:relative;margin-top:3px;padding-left:12px;color:#3a3939;font-size:14px;letter-spacing:0}
.lst_bul01 li:first-child,
.lst_bul02 li:first-child,
.lst_bul03 li:first-child{margin-top:0}
.lst_bul01 li:before,
.lst_bul02 li:before,
.lst_bul03 li:before{content:'';display:inline-block;position:absolute;top:10px;left:0;}

.lst_bul01>li:before{width:4px;height:4px;background:#5f5f5f}
.lst_bul02>li:before{left:2px;width:4px;height:1px;background:#2c2c2c}
.lst_bul03>li:before{top:7px;left:2px;width:7px;height:7px;border:1px solid #5d5d5d;border-radius:50%;background:#fff}
.lst_bul03>li{padding-left:17px}

/** 게시판-공지사항 상세 **/
.bd_type01_view{border-top:2px solid #3b414d;}
.bd_type01_view .bd_view_tit{margin:0;padding:18px 12px;line-height:22px;color:#1d1d1d;font-size:20px;text-align:center}
.bd_type01_view .bd_tbl{margin:0;border-top:1px solid #b8b8b8}
.bd_type01_view .bd_type01_tit{width:14%}
.bd_type01_view .bd_type01_cont{width:35%}
.bd_desc{padding:30px 25px 80px;font-size:14px;border-bottom:1px solid #b8b8b8}
/** 게시판-공지사항 상세 : 글정보 **/
.bd_view_info{margin:-5px 0 15px;text-align:center}
.bd_view_info li{display:inline-block;position:relative;min-width:115px;padding:2px 20px 2px 10px;line-height:22px;box-sizing:border-box }
.bd_view_info li:before{content:'';display:block;position:absolute;top:50%;left:0;width:4px;height:4px;margin-top:-2px;background:#b2b2b2}
.bd_view_info li span,.bd_view_info li strong{display:inline-block;}
.bd_view_info li span{margin-right:10px;padding-right:10px}
.bd_view_info li span:first-child{position:relative}
.bd_view_info li span:first-child:before{content:'';display:inline-block;position:absolute;top:50%;right:0;width:1px;height:16px;margin-top:-7px;background:#545454}
.bd_view_info li span.total{margin-right:7px}
.bd_view_info li span.total:before{transform:rotate(33deg)}
.bd_view_info li strong{margin-left:5px;padding-right:2px;color:#1d1d1d;font-size:20px}

/** thum row01 **/
.lst_thum:after{content:'';display:block;clear:both}
.lst_thum>li{float:left;margin-bottom:30px;box-sizing:border-box}
.lst_thum a{display:block;position:relative;}
.lst_thum img{max-width:100%;transition:all 0.3s linear}
.lst_thum span[class^='info'],.lst_thum strong,.lst_thum img{display:block}
.lst_thum strong{overflow:hidden;color:#222;font-size:13px;font-weight:400;letter-spacing:-1px;text-overflow:ellipsis;white-space:nowrap}
.lst_thum .btn_st{min-width:100px;padding:0 20px;line-height:30px;border-radius:20px;}
.lst_thum .info_poster{overflow:hidden;}

.row01{margin-top:15px}
.row01 li{width:285px;margin-right:20px}
/* .row01 li:nth-child(4n){margin-right:0} */
.row01 li a{padding-bottom:15px;border:1px solid #dbdbdb}
.row01 img{width:100%}
.row01 strong,.row01 strong~span{padding:0 25px;text-align:center}
.row01 strong{margin:18px 0 0;}
.row01 strong i{position:relative;margin-left:12px;padding-left:8px}
.row01 strong i:before{content:'';display:block;position:absolute;top:50%;left:0;width:1px;height:18px;margin-top:-9px;background:#000}
.row01 .info_poster{height:180px;background:#f7f7f7}
.row01 .info_poster img{width:auto;max-width:100%;margin:0 auto}
.row01 .info_date{margin:15px 0;color:#747373;font-size:15px}
.row01 .info_btn{margin-top:10px}
.row01 span.info_over{display:none}

.row01 li a:hover,.row01 li a:active,.row01 li a:focus{box-shadow:3px 3px 3px rgba(0,0,0,0.5)}
.row01 li a:hover:before,.row01 li a:hover span.info_over,
.row01 li a:active:before,.row01 li a:active span.info_over,
.row01 li a:focus:before,.row01 li a:focus span.info_over{display:block;position:absolute;top:0;z-index:2}
.row01 li a:hover:before,.row01 li a:active:before,.row01 li a:focus:before{content:'';width:calc(100% + 1px);height:calc(100% + 1px);background:rgba(0,0,0,0.7)}
.row01 li a:hover span.info_over,.row01 li a:active span.info_over,.row01 li a:focus span.info_over{top:50%;width:100%;margin-top:-75px;padding:0;box-sizing:border-box}
.row01 li a:hover span.info_over *,.row01 li a:active span.info_over *,.row01 li a:focus span.info_over *{color:#fff}
.row01 li a:hover span.info_over .btn_st,.row01 li a:active span.info_over .btn_st,.row01 li a:focus span.info_over .btn_st{border-color:#fff;background:transparent}

/* 이미지상세 */
.detail_design{padding:0 20px}
.detail_design .notic_explan{padding-top:3px;margin-bottom:0}
.detail_design .tbl_basic .bd_title{width:18%}
.detail_design .tbl_basic .bd_cont{width:35%}
.detail_design .tbl_basic th{color:#131313;text-align:left;background:#fafafa}
.detail_design .tbl_basic th,.detail_design .tbl_basic td{border-right-width:0;border-left-width:0}
.detail_design .tbl_basic input[type="text"]{width:100%;padding:3px 10px;height:34px;border:1px solid #b8b8b8;box-sizing:border-box}	
.detail_design .tbl_basic ul{overflow:hidden}
.detail_design .tbl_basic li{float:left;width:20%;line-height:21px}
.detail_design .tbl_basic li input,.detail_design .tbl_basic li label{vertical-align:middle}
.detail_design .tbl_basic li input{margin-right:5px}
.detail_info{position:relative;display:inline-block;float:right;width:calc(100% - 500px);}
.detail_info a {display:inline-block;border-radius:4px; }
.detail_img{position:relative;display:inline-block;float:left;width:480px;max-width:680px;margin-bottom:36px;border:1px solid #e4e5ed;}
.detail_img span,.detail_img span img{display:block}
.detail_img span{position:relative;height:488px;display:flex;align-items:center;justify-content:center;background-color:#e4e5ed;}
.detail_img span img{width:auto;max-width:100%;max-height:488px;}


/** pop modal style **/
.pop_modal,.pop_modal_bg{display:none;position:fixed !important}
.pop_modal_bg{top:0;left:0;width:100% !important;height:100%;background:rgba(61,63,71,0.9);z-index:9997 !important}
.pop_modal{top:50%;left:50%;background-color:#fff;z-index:9999}
.pop_close{position:absolute;top:21px;right:25px;width:25px;height:25px;line-height:0;font-size:0;text-indent:-9999px;}
.pop_close:after,.pop_close:before{content:'';display:block;position:absolute;top:50%;left:50%;background:#fff;transform:rotate(45deg)}
.pop_close:before{width:26px;height:1px;margin:-1px 0 0 -13px}
.pop_close:after{width:1px;height:26px;margin:-13px 0 0 -1px}
.pop_cont{padding:20px;}

.view_layer_area{width:960px;padding-bottom:40px}
.view_layer_area .title{min-height:66px;margin:0 0 30px;padding:18px 60px 18px 27px;line-height:28px;color:#fff;font-size:22px;box-sizing:border-box;background:#004d85}

/* 로그인 */
#login_wrap {margin:0px auto; width:100%; height:100%; z-index:110;overflow:hidden;background: linear-gradient(to left, #ffffff 50%, #F6EBE0 50%);}
#login_wrap:after{content:'';display:block;position:absolute;top:50%;left:10%;width:530px;height:310px;margin-top:-155px;background:url(../images/contents/background2.png) no-repeat;}
#login_wrap:before{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:15px;background:#D48D7B;}
#login_box {position:absolute;left:50%;top:50%;width:500px; height:auto;margin-top:-140px;margin-left:50px; }/*margin:305px 0 250px 50px;*/
#login_box  h1{text-align:center;font-size:0;text-indent:-9999px;width:245px;margin:0 auto 40px auto;background-position-y:507px}
#login_box  h1 span{margin:0 auto;display:block;height:36px;}
#login_box div.login_form {position:relative;margin-bottom:10px; }
#login_box div.login_form .tablist{display:table;table-layout:fixed;width:100%;font-size:16px;}
#login_box div.login_form .tablist li.tab {display:table-cell; line-height:50px;background:#f7f7f7; border-bottom: 1px solid #e3e7ee; text-align: center;}
#login_box div.login_form .tablist li.tab:first-child { border-right: 1px solid #e3e7ee;}
#login_box div.login_form .tablist li.tab.on{ background:#fff; border-bottom: none;}
#login_box div.login_form .tablist li a {display:block;}
#login_box div.login_form .tablist li.on a { color:#7f8699;}
#login_box div.login_form .login_body > div{display:none;position:relative;padding:40px 40px 0 40px;}
#login_box div.login_form .login_body > div.on{display:block;}
#login_box div.login_form form {overflow:hidden;margin:0 ;}
#login_box div.login_form,.login_form fieldset input{box-sizing:border-box}
#login_box div.login_form fieldset{padding:0;}
#login_box div.login_form fieldset input{display:block;width:100%;height:46px;padding:5px;line-height:34px;border:1px solid #b6b6b6;border-radius:5px}
#login_box div.login_form fieldset input:hover,.login_form fieldset input:active,.login_form fieldset input:focus{background:#fffcda}
#login_box div.login_form fieldset input.login_btn,#login_box div.login_form fieldset span > input{color:#fff;font-size:18px;text-align:center;border-color:#3b414d !important;cursor:pointer;background:#3b414d !important}
#login_box div.login_form fieldset input.login_btn:hover,.login_form fieldset input.login_btn:active,.login_form fieldset input.login_btn:focus,
#login_box div.login_form fieldset span > input:hover{border-color:#0c0c0c !important;background:#0c0c0c !important}
#login_box div.login_form fieldset label{top:7px;left:13px;color:#7a7979;font-size:15px;line-height:36px;z-index:88}
#login_box div.login_form fieldset label.id{padding-left:40px; background:url(../images/contents/id_icon.png) no-repeat 0 0;}
#login_box div.login_form fieldset label.pw{padding-left:40px; background:url(../images/contents/pw_icon.png) no-repeat 0 0;}
#login_box div.login_form fieldset p{position:relative;margin-bottom:7px}
#login_box div.login_form fieldset span{display:block;padding-top:7px}
#login_box .login_body ul:last-child{border-bottom:none;}
#login_box .login_footer{margin-top:18px; padding:12px 0 0; border-top:1px solid #dce1e9;text-align:center;}

/** 포트폴리오 관리 **/
.bd_tbl.sortable_wrap {position:relative;min-height:auto;}
.bd_tbl.sortable .main_img{display:block;max-width:800px;width:800px;}
.bd_tbl.sortable .sub_img{display:inline-block;max-width:180px;width:180px;}
.bd_tbl.sortable .main_img img,.bd_tbl.sortable .sub_img img{width:auto;max-width:100%;margin:0 auto;}
.sortable_wrap {position:relative;min-height:300px;}
.sortable_wrap .btn{min-width:80px;padding:0 8px;line-height:23px;font-size:14px;}
.sortable_wrap .sortable_top {display:table;width:100%;table-layout:fixed;clear: both;border-top:solid 1px #ddd; }
.sortable_wrap .sortable_top span{background-color:#f5f5f5;}
.sortable_wrap span {display:table-cell;padding:10px 8px;font-size:15px;color:#444;font-weight:normal;text-align:center;border-bottom:solid 1px #ddd;vertical-align: middle;}
.sortable_wrap span a{overflow:hidden;display:inline-block;max-width:100%;vertical-align:top;text-overflow:ellipsis;white-space:nowrap}
.sortable_wrap  ul {}
.sortable_wrap li {display:table;width:100%;margin-bottom:0;overflow:hidden;background:#fff}
.sortable_wrap li > span.sort_move {font-size:0;padding: 0;border-right:none;cursor:n-resize;background:url(../images/contents//icon_move.gif) center no-repeat; }
.sortable_wrap li > span.sort_img i,.sortable_wrap td > .sort_img{display:block;width:80px;height:80px;overflow:hidden;padding:0;margin:0 auto;border:1px solid #dbdbdb;}
.sortable_wrap li > span.sort_img img,.sortable_wrap td > .sort_img img {width:auto;max-width:100%;margin:0 auto;}
.sortable_wrap li > span.sort_tit {text-align:left;}
.sortable_wrap li > span.sort_num input{width:40px}
.sortable_wrap span.sort_chk label {font-size:0;height:12px;}
.sortable_wrap span.sort_num {width:8%;}
.sortable_wrap span.sort_chk {width:5%;}
.sortable_wrap span.sort_code {width:10%;}
.sortable_wrap span.sort_divi {width:10%;}
.sortable_wrap span.sort_img {width:10%;}
.sortable_wrap span.sort_tit {width:auto;}
.sortable_wrap span.sort_move {width:5%;}
.sortable_wrap span.sort_modi {width:10%;}

/** 메뉴관리 **/
.menu_area{overflow:hidden;width:100%;}
.menu_area .fl{width:250px;border:1px solid #D6D6D6}
.menu_area .fl .menu_top{border-bottom: 1px solid #D6D6D6;overflow:hidden;}
.menu_area .fl .menu_top .tab_style01{margin:0}
.menu_area .fl .menu_top .tab_style01 li{min-width:80px;width:50%;margin-left:0;}
.menu_area .fl .menu_top .tab_style01 li a{padding: 12px 5px;font-size:13px;}
.menu_area .fl .menu_top .tab_style01 li.on a{}
.menu_area .fr{width:calc(100% - 270px);}
.menu_area #treeBox{position:relative;height:480px;padding:0;margin:0;overflow:hidden;overflow-y:scroll}
.menu_area #category{position:absolute;width:100%;padding:0;margin:0;left:-13px}
.menu_area #category a:link, .menu_area #category a:visited, .menu_area #category a:active, .menu_area #category a:hover{color:#777;font-size:12px;line-height:11px;text-decoration:none;}
.menu_area #category .selected:link, .menu_area #category .selected:visited, .menu_area #category .selected:active, .menu_area #category .selected:hover{}


/** 글댓글-사용자들  **/
.reply_area{margin:50px 0 0;padding:30px 30px 15px;border:1px solid #b8b8b8; border-radius: 0;}
.reply_area h4{position:relative;margin-bottom:15px;margin-top:0;color:#333;font-size:20px}
.reply_area h4 strong{color:#f34a00}
.reply_area h5{position:relative;margin-bottom:15px;padding-left:41px;color:#333;font-size:20px}
.reply_area h5:before{content:'';display:block;position:absolute;top:6px;left:5px;width:27px;height:22px;background-position:297px -135px}
.reply_area h5 strong{color:#f34a00}
.reply_area .bd_btn_area a,.reply_area .bd_btn_area a{padding-left:62px;text-align:left}
.reply_area .bd_btn_area a:before,.reply_area .bd_btn_area a:after,
.reply_area .bd_btn_area a:before,.reply_area .bd_btn_area a:after{content:'';display:inline-block;position:absolute;background:#3b414d}
.reply_area .bd_btn_area a:before,.reply_area .bd_btn_area a:before{top:25px;left:45px;width:9px;height:1px}
.reply_area .bd_btn_area a:after,.reply_area .bd_btn_area a:after{top:21px;left:49px;width:1px;height:9px}
.reply_area .bd_btn_area a:hover,.reply_area .bd_btn_area a:active,.reply_area .bd_btn_area a:focus,.reply_area .bd_btn_area a:hover,.reply_area .bd_btn_area a:active,.reply_area .bd_btn_area a:focus{color:#fff;background:#3b414d}
.reply_area .bd_btn_area a:hover:before,.reply_area .bd_btn_area a:active:before,.reply_area .bd_btn_area a:focus:before,
.reply_area .bd_btn_area a:hover:after,.reply_area .bd_btn_area a:active:after,.reply_area .bd_btn_area a:focus:after,
.reply_area .bd_btn_area a:hover:before,.reply_area .bd_btn_area a:active:before,.reply_area .bd_btn_area a:focus:before,
.reply_area .bd_btn_area a:hover:after,.reply_area .bd_btn_area a:active:after,.reply_area .bd_btn_area a:focus:after{background:#fff}
.reply_form{position:relative;padding:22px 170px 22px 25px;background:#f8f8f8}
.reply_form textarea,.reply_form a{border-radius:5px;box-sizing:border-box}
.reply_form .focus_tit{top:32px;left:35px;padding-right:180px}
.reply_form textarea{height:83px;padding:10px;border:1px solid #b8b8b8}
.reply_form a{display:inline-block;position:absolute;top:22px;right:25px;width:133px;line-height:83px;color:#fff;font-size:16px;text-align:center;background:#3b414d}
.reply_form a:hover,.reply_form a:active,.reply_form a:focus{background:#3b414d}
.reply_lst{margin:10px 0 0;}
.reply_lst li{position:relative;min-height:55px;padding:20px 190px 20px 8px;border-bottom:1px solid #b8b8b8}
.reply_lst li em{display:block;margin-bottom:10px;color:#333;font-size:14px}
.reply_lst li em span{display:inline-block;padding-left:17px;color:#808080;font-size:12px}
.reply_lst li em span span{padding-left:6px}
.reply_lst li em .attach{}
.reply_lst li div{}
.reply_lst li a { border-radius:5px; height:29px; line-height:20px; padding:4px 10px;}
.reply_lst li .btn_area_reply{position:absolute;top:25px;right:3px}
.reply_lst li .btn_area_reply .btn_modify{margin:0 3px}


/** 1600px 시작 **/
@media screen and (max-width:1600px){
	.wrap{overflow:hidden;width:100%;margin:0 auto;}
}
/** 1600px 끝 **/

/** 1400px 시작 **/
@media screen and (max-width:1400px){
}
/** 1400px 끝 **/

/** 1280px 시작 **/
@media screen and (max-width:1280px){
}
/** 1280px 끝 **/

/** 1024px 시작 **/
@media screen and (max-width:1024px){

}
/** 1024px 끝 **/

/** 1023px 시작 **/
@media screen and (max-width:1023px){
}
/** 1023px 끝 **/

/** 1000px 시작 **/
@media screen and (max-width:1000px){

}
/** 1000px 끝 **/

/** 900px 시작 **/
@media screen and (max-width:900px){
	
}
/** 800px 끝 **/

/** 768px 시작 **/
@media screen and (max-width:768px){
	
}
/** 768px 끝 **/

/** 667px 시작 **/
@media screen and (max-width:667px){
	
}
/** 667px 끝 **/

/** 640px 시작 **/
@media screen and (max-width:640px){

}
/** 640px 끝 **/

/** 600px 시작 **/
@media screen and (max-width:600px){
	
}
/** 600px 끝 **/

/** 568px 시작 **/
@media screen and (max-width:568px){		
}
/** 568px 끝 **/

/** 540px 시작 **/
@media screen and (max-width:540px){

}
/** 540px 끝 **/

/** 480px 시작 **/
@media screen and (max-width:480px){		
	
/** 480px 끝 **/

/** 414px 시작 **/
@media screen and (max-width:414px){

/** 글댓글-사용자들 **/
	.reply_area{padding-right:15px;padding-left:15px}
	.reply_area .bd_btn_area a{text-align:center;}	

}
/** 414px 끝 **/

/** 384px 시작 **/
@media screen and (max-width:384px){
	
}
/** 360px 끝 **/

/** 320px 시작 **/
@media screen and (max-width:320px){

}
/** 320px 끝 **/